@media(max-width:767px){
  a.navbar-brand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 60px);
  }
}
@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}

.user-name.dropdown-toggle {
  display: inline;
}

.user-image-100 {
  width: 26px;
  height: 26px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-top: -4px;
}

.user-name {
  color: #9d9d9d;
  display: inline-block;
  margin-left: 5px;
}

.user-description {
  text-align: center;
}

.dropdown-toggle {
  padding-top: 8px;
  padding-bottom: 4px;
}

.badge {
  margin-top: -5px;
}

@media (max-width: 768px) {
  .user-image-200 {
    display: none;
  }
}
