@media(max-width:767px){
  a.navbar-brand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 60px);
  }
}
@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}
