.navbar-brand {
  padding-right: 5px;
}

.navbar-brand > div {
  display: inline-block;
  color: #fff;
}

.navbar-brand > div > img {
  margin-top: -3px;
  width: 24px;
}

.jumbotron {
  background-size: 100% 200%;
  color: #fff;
}

/* Text */
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


@media(max-width:767px){
  body {
    font-size: 10px;
  }
}
@media(max-width:992px){
  body {
    font-size: 10px;
  }
}
@media(min-width:1200px){

}


/* Borders */

.no-border {
  border: 0px;
}
