.navbar-brand {
  padding-right: 5px;
}

.navbar-brand > div {
  display: inline-block;
  color: #fff;
}

.navbar-brand > div > img {
  margin-top: -3px;
  width: 24px;
}

.jumbotron {
  background-size: 100% 200%;
  color: #fff;
}

.contact-us {
  text-align: center;
}

iframe {
  width: 100%;
  max-width: 400px;
  height: 300px;
}
