<section class="mat-typography">
  <div class="loader" *ngIf="initializing">
    <mat-spinner color="accent"></mat-spinner>

    <!--<mat-card [style.background-color]="appInfo?.settings?.baseColor">-->
      <!--<div *ngIf="loading">-->
        <!--Loading...-->
      <!--</div>-->
      <!--<div *ngIf="!loading">-->
        <!--<h3>-->
          <!--<img [attr.src]="appInfo.settings.company.logos['32']">-->
          <!--<span><b>{{ appInfo.title }}</b></span>-->
        <!--</h3>-->
        <!--<h6>-->
          <!--{{ appInfo.settings.company.name }}-->
        <!--</h6>-->
        <!--<h6>-->
          <!--v{{ appInfo.version }}.{{ appInfo.buildNumber }}-->
        <!--</h6>-->
        <!--<h6>-->
          <!--&copy; 2018 Ridgleline International, Inc.-->
        <!--</h6>-->
      <!--</div>-->
    <!--</mat-card>-->
  </div>
  <div class="main" *ngIf="!initializing">
    <app-loader [loading]="initializing"></app-loader>
    <app-header></app-header>
    <div id="core">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</section>
