<div class="container">
  <h1>
    {{ appInfo.name }} v{{ appInfo.version }}.{{ appInfo.build }}
  </h1>

  <div class="row">
    <div class="col-sm-4 text-center">
      <h2>Application Information</h2>
      <p>View application information.</p>
      <p>
        <a class="btn btn-default" [routerLink]="['/appInfo']">App Information &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4 text-center">
      <h2>User Information</h2>
      <p>View user information.</p>
      <p>
        <a class="btn btn-default" [routerLink]="['/userInfo']">User Information &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4 text-center">
      <h2>Users</h2>
      <p>Manage users by viewing, adding, updating and removing users.</p>
      <p>
        <a class="btn btn-default" [routerLink]="['/users']">Users &raquo;</a>
      </p>
    </div>
  </div>
</div>
