.title {
  padding-left: 10px;
}

.user-image-holder {
  padding-right: 10px;
  padding-top: 10px;
}

.mat-menu-item.user-image, .mat-menu-item.user-name {
  text-align: center;
}

.title {
  color: white;
  text-decoration: none;
}

a.title > img, a.title > span {
  display: inline-block;
  vertical-align: middle;
}

a.title > img {
  height: 32px;
}
