<section class="mat-typography no-print">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--<img [attr.src]="appInfo.settings.company.logos['32']">-->
      <span>{{ appInfo.name }}</span>

      <span class="spacer"></span>

      <div class="user-image-holder clickable" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </div>
      <mat-menu #menu="matMenu">
        <!--<button class="user-image" mat-menu-item [routerLink]="['/userInfo']">-->
          <!--<img class="user-image-100" src="./assets/images/unknown-user.png">-->
        <!--</button>-->
        <!--<button class="user-name" mat-menu-item [routerLink]="['/userInfo']">-->
          <!--{{ appInfo.user.username }}-->
        <!--</button>-->
        <button mat-menu-item [routerLink]="['/userInfo']">
          User Info
        </button>
        <button mat-menu-item [routerLink]="['/appInfo']">
          App Info
        </button>
        <a mat-menu-item href="/swagger-ui.html" target="_blank" *ngIf="isAdmin">
          Rest API
        </a>
        <!--<mat-divider *ngIf="isAdmin"></mat-divider>-->
        <!--<button mat-menu-item [routerLink]="['/admin']" *ngIf="isAdmin">-->
          <!--Admin-->
        <!--</button>-->
        <mat-divider></mat-divider>
        <a mat-menu-item href="/logout">
          Logout
        </a>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</section>
