@media(max-width:600px){
  mat-progress-bar {
    margin-top: 56px;
    position: absolute;
  }
}
@media(min-width:600px){
  mat-progress-bar {
    margin-top: 64px;
    position: absolute;
  }
}

:host /deep/ .mat-spinner {
  margin: auto;
}
